__pycache__/
*.pyc
.venv/
.env
app.db

node_modules/
dist/
*.log

.vscode/
.idea/
.DS_Store

backend/alembic/versions/*.py
media/
frontend/node_modules/
backend/.env
backend/venv/
backend/.pytest_cache/
